.book-form {
    text-align: center;
}

form {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

form div {
    width: 50%;
    margin: 5px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

form div input {
    width: 100%;
    padding: 8px;
    outline: none;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: small;
    font-weight: bold;
}

form div input::placeholder{
    color: gray;
    font-size: small;
    font-weight: 700;
}

form button{
    width: 50%;
    padding: 8px;
    border-radius: 5px;
    font-size: small;
    font-weight: bold;
    background-color: darkcyan;
    border: none;
    color: white;
    cursor: pointer;
}

form button:active{
    transform: scale(0.98);
}