.navbar {
    position: relative;
    padding: 1rem 5rem;
    /* background-color: #e6e6e6; */
    border: 1px solid lightgray;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    transition: 0.5s ease-in-out;
}

.navbar.sticky {
    opacity: 0.97;
    position: fixed;
    width: 100%;
    z-index: 999;
    background-color: #cccccc;
    padding: 0.7rem 5rem;
}

.nav-items ul {
    display: flex;
    align-items: center;
    gap: 60px;
}

.nav-items ul li {
    list-style: none;
    cursor: pointer;
    font-weight: bold;
}

.cyan {
    color: darkcyan;
}

a {
    text-decoration: none;
    transition: 0.5s;
    color: black;
}