.navbar {
    position: relative;
    padding: 1rem 5rem;
    /* background-color: #e6e6e6; */
    border: 1px solid lightgray;
    transition: 0.5s ease-in-out;
}

.navbar.sticky {
    opacity: 0.97;
    position: fixed;
    width: 100%;
    z-index: 999;
    background-color: #cccccc;
    padding: 0.7rem 5rem;
}

.navbar h2 {
    text-align: center;
}